<h2>Department</h2>
<div class="conatainr">

    <form ng-submit="createDepartment()" role="form">
        <div class="form-group">
            <label for="name">Department ID</label>
            <input ng-model="data.DeptId" type="text" class="form-control" id="id" placeholder="Enter department name">
        </div>
        <div class="form-group">
            <label for="name">Department name</label>
            <input ng-model="data.DeptName" type="text" class="form-control" id="name" placeholder="Enter department name">
        </div>
        <div class="form-group">
            <label for="location">Department location</label>
            <input ng-model="data.DeptLocation" type="text" class="form-control" id="location" placeholder="Enter department location">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>