<h2>Leave Form</h2>

<div class="jumbotron">
    <md-content>
        <form ng-submit="addLeave()" role="form">

            <md-input-container>
                <label>Reason</label>
                <input ng-model="info.reason" type="text" id="inputEmail" class="form-control" required="" autofocus="">
            </md-input-container>  <br />

            <md-input-container>
                <label>Start date:</label>
                <input ng-model="info.startperiod" type="text" id="inputEmail" class="form-control" required="" autofocus="">
            </md-input-container>  <br />


            <md-input-container>
                <label>End date:</label>
                <input ng-model="info.endPeriod" type="text" id="inputEmail" class="form-control" required="" autofocus="">
            </md-input-container>  <br />

            <br />

            <div class="form-group">
                <md-button class="md-warn md-raised md-hue-2" ng-click="login()" type="submit">Sign in</md-button>
            </div>

        </form>
    </md-content>
</div>