<h2>Leave Form</h2>
<div class="jumbotron">
    <form ng-submit="addleave()" role="form">

        <div class="form-group">
            <label for="reason">Reason</label>
            <input ng-model="info.reason" type="text" class="form-control" id="" placeholder="Enter Reason">
        </div>
        <div class="form-group">
            <label for="NIC">Start date:</label>
            <input ng-model="info.startPeriod" type="date" class="form-control" id="" placeholder="Enter Start date:">
        </div>
        <div class="form-group">
            <label for="Dname">End date:</label>
            <input ng-model="info.endPeriod" type="date" class="form-control" id="" placeholder="Enter End date:">
        </div>
        <br />

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>