<h2>Add New Employee</h2>
<div class="jumbotron">
    <form ng-submit="createUser()" role="form">


       

        <div class="form-group">

            <label for="name">User Name:</label>
            <input ng-model="fields.UserName" type="text" class="form-control" id="name" placeholder="Enter User Name">

        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input ng-model="fields.UserPassword" type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="pwd">Email:</label>
            <input ng-model="fields.UserEmail" type="email" class="form-control" id="pwd" placeholder="Enter Email">
        </div>
        <div class="form-group">
            <label for="NIC">NIC No:</label>
            <input ng-model="fields.UserNIC" type="text" class="form-control" id="NIC" placeholder="Enter National Identity Card Number">
        </div>
        <div class="dropdown">
            <label for="Dname">DepartmentId:</label>
            <input ng-model="fields.UserDeptID" type="text" class="form-control" id="NIC" placeholder="Enter Department Id">     
        </div>
        <br />
        <div class="dropdown">
            <label for="Role">Role:</label>
            <select ng-model="fields.UserRole" class="form-control">
                <option selected value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="viewer">Viewer</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>