<h2>Employee Details</h2>
<div class="jumbotron">
    <div class="table-responsive">

        <table class="table table-bordered">
            <thead>
                <tr ng-repeat="user in allusers">
                    <th>{{user.userId}}</th>
                    <th>{{user.userName}}</th>
                    <th>{{user.userNIC}}</th>
                    <th>{{user.userEmail}}</th>
                    <th>{{user.userRole}}</th>
                    <td>
                        <a href="#/EditThisUser/{{user.userId}}">Edit</a>
                    </td>
                    <td>
                        <input type="button" value="Delete" class="btn btn-primary" ng-click="deleteSingleUser(user.userId)" />
                    </td>
                </tr>
            </thead>

            <tbody></tbody>
        </table>

    </div>
</div>